html,
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  margin-bottom: 60px;
}
.main-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background-color: #f4f7f9;
}
.main-navigation-inner {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #f3f7f8;
  padding-bottom: 60px;
}
.main-logo {
  display: block;
  width: 240px;
  height: 42px;
}
.main-header-logo {
  background-color: #ee3643;
  border-bottom: 3px solid #b52933;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 0;
}
.main-header-logo:hover,
.main-header-logo:focus {
    background-color: #ba2732;
    border-bottom: 3px solid #9a212a;
}

.site-navigation,
.user-navigation,
.common-info {
  list-style: none;
}
.user-navigation {
  width: 710px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.user-navigation-inner {
  width: 710px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.user-navigation li {
  width: 150px;
}
.user-navigation-inner li {
  width: 150px;
}
.user-navigation li:first-child {
  flex-grow: 1;
  width: 240px;
}
.user-navigation-inner li:first-child {
  margin-right: auto;
  width: 90px;
}
.main-navigation-wrapper {
  width: 100%;
  background-color: #293449;
  justify-content: space-between;
  margin-bottom: 45px;
}
.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}
.order a {
  background-color: #63a63e;
}
.basket a {
  background-color: #ee3643;
}
.site-navigation {
  background-color: #32425c;
  border-bottom: 4px solid #293449;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.site-navigation-inner {
  background-color: #32425c;
  border-bottom: 4px solid #293449;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.site-navigation:hover,
.site-navigation:focus,
.site-navigation-inner:hover,
.site-navigation-inner:focus {
    border-bottom: 4px solid #293449;
}
.site-navigation:active,
.site-navigation-inner:active {
    border-bottom: 4px solid #1d2739;
}
.user-navigation a{
  color: #ffffff;
}
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #161d29;
}
.site-navigation a {
    color: #ffffff;
    display: block;
    padding: 22px 30px
}
.site-navigation-inner a {
    color: #ffffff;
    display: block;
    padding: 22px 30px
}
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation-inner a:hover,
.site-navigation-inner a:focus  {
    background-color: #293449;
}
.site-navigation a:active,
.site-navigation-inner a:active {
    background-color: #1d2739;
    color: rgba(255,255,255,0.5);
}
.page-navigation {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.page-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 380px;
  display: flex;
  justify-content: space-around;
}
.page-list a {
  color: #000000;
}
.order a:hover,
.order a:focus {
  background-color: #5fbb2d;
}
.basket a:hover,
.basket a:focus {
  background-color: #ca2c37;
}
.common-info {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
    margin-bottom: 40px;
}
.common-info-inner {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
     margin-bottom: 40px;
}
.common-info li {
  width: 300px;
}
.common-info-inner li {
  width: 300px;
}

.common-info p {
    margin: 0;
}
.common-info-inner p {
    margin: 0;
}
.common-info .button {
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  text-transform: none;
}
.common-info .button:focus,
.common-info .button:hover {
  color: #ee3643;
}
.common-info .button:active {
  color: rgba(0,0,0,0.3);
}

.common-info-inner .button {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  background-color: #ffffff;
  text-transform: none;
}
.common-info-inner .button:focus,
.common-info-inner .button:hover {
  color: #ee3643;
  text-decoration: underline;
}
.common-info-inner .button:active {
  color: rgba(0,0,0,0.3);
}
.user-name {
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
  width: 300px;
}
.user-name:active {
  opacity: 0.3;
}
.user-order: {
  margin: 0;
  padding: 0;
  width: 220px;
}
.user-navigation a {
  font-size: 17px;
  line-height: 17px;
    display: block;
    padding: 15px 0;
    text-align: center;
}   
.user-navigation .search {
    display: block;
    padding-right: 150px;
}
.user-navigation .search:active {
    background-color: #ffffff;
    color: #000000;
    position: relative;
}
.search::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    right: 960px;
    background-color: red;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    
}
.search:hover::before,
.search:focus::before {
    opacity: 1;
}
.search:active::before {
    background-color: red;
}
.about-company {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}
.about-company p {
    padding-right: 50px;
}
.contacts p {
    margin-right: 30px;
    margin-bottom: 8px;
}
.contacts p:last-child {
    margin: 0;
    margin-left: 10px;
}
.number {
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
  border: 3px solid white;
  padding: 9px 0;
  text-align: center;
  margin-bottom: 20px;
}
.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.login {
    display: flex;
    justify-content: space-between;
}
.login a {
    display: block;
    padding: 12px 25px;
}
.enter a{
    padding-left: 45px;
}
.big-header {
  color: #32425c;
  background-color: #f2f6f8;
}
.big-header h1 {
  font-size: 30px;
  line-height: 30px;
}
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.catalog-item {
  width:300px;
  margin-bottom: 20px;
}
.catalog-item-1 {
  background-color: #ffbf47;
    position: relative;
}
.catalog-item-1::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 65px;
    right: 33px;
    top: 50px;
    
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.catalog-item-2 {
  background-color: #3bbce3;
}
.catalog-item-3 {
  background-color: #dc91d8;
}
.catalog-item-4 {
  background-image: url('../img/slider%201.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 620px;
  height: 265px;
}
.catalog-item-4 .item-description {
    margin: 0;
    margin-left: 25px;
    
}
.item-description p {
    margin: 0;
    margin-top: 5px;
}
.catalog-item-5 {
  background-color: #8ed78f;
}
.catalog-item-6 {
  background-color: #ffc047;
}
.catalog-item a {
  color: #ffffff;
}
.catalog-item h3 {
  font-size: 24px;
  line-height: 30px;
    margin: 0;
    padding-left: 24px;
    padding-top: 24px;
}
.catalog-item-price .button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color:#ffffff;
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;
  margin-left: 25px;
    width: 135px;
}
.catalog-item-price-big .button {
  background-color: #ee3643;
    width: 195px;
    margin-top: 100px;
}

.catalog-item-price .button:hover,
.catalog-item-price .button:focus {
  background-color: rgba(0,0,0,0.2);
}
.catalog-item-price .button:active {
  background-color: rgba(0,0,0,0.3);
}
.catalog-item-price-big .button:hover,
.catalog-item-price-big .button:focus {
  background-color: #ca2c37;
}
.catalog-item-price-big .button:active {
  background-color: #ba2732;
}
.filters {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  width: 220px;
}
.filters h3 {
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}
.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 17px;
  line-height: 30px;
}
.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.filter-input:disabled + label {

  opacity: 0.3;
}
.filter-option {
  margin: 0;
  padding: 0;
}
.left-column {
  margin: 0;
  width: 700px;
}
.sort-categories {
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 700px;
  display: flex;
  justify-content: space-between;
}
.categories-name {
  margin: 0;
  padding: 0;
  width: 140px;
}
.categories-name h3 {
  margin: 0;
}
.sort-categories-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 380px;
  display: flex;
  justify-content: space-between;
}
.sort-categories-item a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dashed #ee3643;
}
.sort-categories-item-current a {
  color: #ee3643;
  border-bottom: none;
}
.sort-categories-item a:hover,
.sort-categories-item a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}
.sort-direction {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 70px;
  display: flex;
  justify-content: space-between;
}
.popular {
  background-color: #f9f5f0;
  margin-bottom: 20px;
}
.popular-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.popular li {
  list-style: none;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  width: 320px;
 
}
.popular .text {
     padding: 33px 0;
    padding-left: 30px;
    
}

.popular .button {
  font-size: 14px;
  line-height: 18px;
    display: inline-block;
    padding: 14px 55px;
    margin-top: 25px;
}
.popular .button:focus,
.popular .button:hover {
  background-color: #ca2c37;
}
.popular .button:active {
  background-color: #ba2732;
}
.goods-list {
  list-style: none;
  margin:20px auto;
  padding: 0;
  display:flex;
  justify-content: space-between;
  width: 940px;
}
.catalog-list-inner {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
}
.goods-item {
    position:relative;
    display:inline-block;
    width:218px;
    margin-right:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}
.goods-item .flag {
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.goods-item .flag-new {
    background:url('../img/new-flag.png') no-repeat 0 0;
}

.goods-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.goods-item .actions .buy,
.goods-item .actions .bookmark {
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;

}
.goods-item .actions .bookmark {
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.goods-item .actions {
    display:none;
}
.goods-item:hover .actions {
    display:block;
}
.goods-item .catalog-item-image{
    width:218px;
    height:168px;
}
.goods-item .catalog-item-image img{
    max-width:100%;
}
.goods-item .uncurrent-price {
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}
.goods-item .current-price {
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px
}
.goods-item .current-price-last {
    margin-top: 48px;
}
.catalog-item-inner {
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  width: 220px;
  margin-bottom: 20px;
}
.goods-item a {
  color: #000000;
}
.catalog-item-inner a {
  color: #000000;
}
.doods-item h3 {
  font-size: 18px;
}
.catalog-item-inner h3 {
  font-size: 18px;
}
.uncurrent-price {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
}
.goods-item .button {
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}
.goods-item .button::after {
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}
.goods-item .button:hover,
.goods-item .button:focus {
  background-color: #ca2c37;
}
.goods-item .button:active {
  background-color: #ba2732;
}
.catalog-item-inner .button {
  color: #ffffff;
  background-color: #ee3643;
}
.catalog-item-inner .button:hover,
.catalog-item-inner .button:focus {
  background-color: #ca2c37;
}
.catalog-item-inner .button:active {
  background-color: #ba2732;
}
.pagination-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 300px;
}

.pagination-item a {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.1);
}
.pagination-item a:hover,
.pagination-item a:focus {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.3);
}
.pagination-item a:active {
  border: 1px solid #ee3643;
}
.pagination-item-current a{
  color: #ffffff;
  background-color: #ee3643;
}
.description {
  color: #000000;
  background-color: #f2f6f8;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.description .container {
  padding-top: 65px;
  padding-bottom: 70px;
}
.description h2{
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}
.manufacturers {
  margin-bottom: 85px;
}
.manufacturers-list {
  list-style: none;
  vertical-align: middle;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.manufactures-item {
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.1);
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}
.manufactures-item a {
    display: inline-block;
    align-items: center;
}
.service {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #f4f8f9;
  height: 590px;
  margin-bottom: 80px;
}
.service-list {
  margin: 0;
  padding: 0;
  position: relative;
}
.service-list::before{
     content:"";
    position:absolute;
    width: 10px;
    height: 272px;
    top: -42px;
    left: 210px;
     background-image: url(../img/Layer%20118.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.service-list::after{
     content:"";
    position:absolute;
    width:468px;
    height: 261px;
    top: 10px;
    right: 7px;
      background-image: url(../img/Layer%20131.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.service-description {
  width: 460px;
  margin-right: auto;
}
.service-description p {
    width: 400px;
    margin: 0;
    margin-bottom: 70px;
}
.service h2 {
  font-size: 30px;
  line-height: 24px;
    padding-top: 70px;
}
.service-item {
  list-style: none;
  width: 620px;
  display: flex;
  justify-content: space-between;
}
.service-button {
  width: 240px;
}
.service-item a {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  text-transform: none;
  display: inline-block;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 126px;
    
}
.service-item-3 a {
    padding-right: 142px;
}
.service-item a:hover,
.service-item a:focus {
  color: #ffffff;
  background-color: #293449;
}
.service-item a:active {
  color: #32425c;
  background-color: #ffffff;
}
.service-item-current a {
  color: #32425c;
  background-color: #ffffff;
  text-transform: none;
}
.service-item b {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
}
.sevice-info {
  width: 300px;
  position: absolute;
  right: 265px;
  top: 5px;
    z-index: 5;
}
.about {
  font-size: 13px;
  line-height: 24px;
}
.about h2 {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
    margin: 0;
}
.index-columns {
  padding-bottom: 85px;
  display: flex;
  justify-content: space-between;
}
.index-columns-inner {
  padding-bottom: 85px;
  display: flex;
  justify-content: space-between;
}
.about-us {
  width: 540px;
}
.company-partners {
  list-style: none;
  margin: 0;
  padding: 0;
}
.about-us .button {
    display: inline-block;
    padding: 13px 40px;
    text-align: center;
    vertical-align: middle;
}
.partners-item {
  font-size: 18px;
  line-height: 20px;
  margin-left: 36px;
  margin-bottom: 20px;
    position: relative;
}
.partners-item::before {
     content:"";
    position: absolute;
    bottom: 11px;
    left: -37px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}
.about-contacts {
  width: 300px;
}
.info-map {
    margin: 0;
}
.about a {
  font-size: 14px;
  line-height: 18px;
}
.about .button:hover,
.about .button:focus {
  background-color: #ca2c37;
}
.about .button:active {
  background-color: #ba2732;
}
.main-footer {
  color: #ffffff;
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
}
.main-footer-inner {
  color: #ffffff;
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
}
.main-footer-logo {
  background-color: #ee3643;
  border-bottom: 3px solid #b52933;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}
.laer-1 .container {
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
}
.footer-adress {
  width: 380px;
}
.footer-contacts {
  width: 550px;
}
.footer-list-1 {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 550px;
  display: flex;
  justify-content: space-between;
}
.footer-list-1 a {
  color: #ffffff;
}
.footer-list-1 a:hover,
.footer-list-1 a:focus {
  text-decoration: underline;
}
.footer-list-1 a:active {
  opacity: 0.5;
}
.footer-list-2 {
  list-style: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  padding-left: 20px;
  width: 540px;
  display: flex;
  justify-content: space-between;
}
.footer-list-2 a {
  color: #ffd180;
}
.footer-list-2 a:hover,
.footer-list-2 a:focus {
  text-decoration: underline;
}
.footer-list-2 a:active {
  opacity: 0.5;
}
.laer-2 {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  padding: 35px 0;
}
.laer-2 .container {
  display: flex;
  justify-content: space-between;
}
.footer-contacts{
  margin-bottom: 0;
  width: 240px;
}
.footer-social {
  text-align: center;
  margin: 0;
  width: 150px
}
.footer-social ul {
  list-style: none;
}
.social-button {
  color: #ffffff;
}
.footer-feedback {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.footer-feedback a{
  color: #ffd180;
}
.footer-feedback a:hover,
.footer-feedback a:focus {
  text-decoration: underline;
}
.footer-feedback a:active {
  color: #ee3643;
}
.feedback {
  margin: 0;
  width: 140px;
}
.footer-copyright {
  margin: 0;
  width: 140px;
  text-align: center;
}
.modal-write-us input[type="text"] {
  font: inherit;
  color: rgba(0,0,0,0.5);
  box-sizing: border-box;
  width: 360px;
  padding: 9px 15px;
  background-color: transparent;
  border: 2px solid rgba(0,0,0,0.1);
}
